<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'CURRENCY' | translate }}</h1>
</div>
<div class="wrapper-md">

    <div class="tab-container">
        <ul class="nav nav-tabs" role="tablist">
            <li ng-class="{active: isActive('.rate')}">
                <a ng-click="goUrl('.rate')" data-toggle="tab">{{ 'RATES' | translate }}</a>
            </li>
            <!-- li ng-class="{active: isActive('.exchange')}">
                <a ng-click="goUrl('.exchange')" data-toggle="tab" aria-expanded="false">Обмен валют</a>
            </li -->
            <!-- li ng-class="{active: isActive('.operation')}">
                <a ng-click="goUrl('.operation')" data-toggle="tab" aria-expanded="false">Операции</a>
            </li -->
        </ul>
        <div class="tab-content">
            <div ui-view></div>
        </div>
    </div>

</div>

