<form class="form-horizontal" novalidate>
    <div ng-show="step==1">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'DEBIT_ACCAUNT' | translate }}:</label>

            <div class="col-sm-6">
                <select class="form-control" ng-model="fromId">
                    <option ng-repeat="account in fromAccounts" value="{{account.id}}">
                        {{account.name}} -
                        {{account.number}} {{account.code}} ( {{account.saldo | number:2}})
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'SELL' | translate }}:</label>

            <div class="col-sm-3">
                <div class="input-daterange input-group">
                    <input type="number" class="form-control" ng-model="sell_amount"
                           ng-disabled="buy_amount && buy_amount>0">
                    <span class="input-group-addon">{{fromAccount.code}}</span>
                    <span class="input-group-addon login-question"><a popover-placement="left"
                                                                      popover-trigger="focus"
                                                                      popover="{{ 'ENTER_SUM' | translate }}"><i
                            class="fa fa-question-circle"></i></a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'CREDIT_TO_ACCOUNT' | translate }}:</label>

            <div class="col-sm-6">
                <select class="form-control" ng-model="toId">
                    <option ng-repeat="account in toAccounts" value="{{account.id}}">
                        {{account.name}} -
                        {{account.number}} {{account.code}} ( {{account.saldo | number:2}})
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'PURCHASE' | translate }}:</label>

            <div class="col-sm-3">
                <div class="input-daterange input-group">
                    <input type="number" class="form-control" ng-model="buy_amount"
                           ng-disabled="sell_amount && sell_amount>0">
                    <span class="input-group-addon">{{toAccount.code}}</span>
                    <span class="input-group-addon login-question"><a popover-placement="left"
                                                                      popover-trigger="focus"
                                                                      popover="{{ 'ENTER_SUM' | translate }}"><i
                            class="fa fa-question-circle"></i></a></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'COMMENT' | translate }}:</label>

            <div class="col-sm-6">
                <input type="text" ng-model="description" class="form-control">
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-green" type="submit" ng-click="calculate()">
                    <i class="fa fa-superscript fa-fw"></i> {{ 'CALCULATE' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div ng-show="step==2">
        <div class="alert alert-warning"><i class="fa fa-warning fa-fw"></i> {{ 'CHECK_TRANSFER_DETAILS' | translate }}
        </div>

        <div class="row">
            <dl class="dl-horizontal details col-sm-8">
                <div ng-repeat="d in datas">
                    <dt>{{d.key}}:</dt>
                    <dd>{{d.value}}</dd>
                </div>
            </dl>
        </div>
        <div class="form-group" ng-hide="otpHide">
            <label class="col-sm-3 control-label">{{ 'SMS_CODE' | translate }}:</label>

            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-minlength="5" ng-model="otp">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="getOtp()" ng-disabled="isDisabled">
                            {{ 'AQUIRE' | translate }}
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-default" type="submit" ng-click="setStep(1)"><i
                        class="fa fa-arrow-left fa-fw"></i> {{ 'BACK' | translate }}
                </button>
                <button class="btn btn-green" type="submit" ng-disabled="isConfirmDisabled" ng-click="doConfirm()">
                    {{ 'NEXT' | translate }} <i class="fa fa-arrow-right fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
    <div ng-show="step==3">
        <dl class="dl-horizontal details col-sm-8">
            <div ng-repeat="d in datas">
                <dt>{{d.key}}:</dt>
                <dd>{{d.value}}</dd>
            </div>
        </dl>
        <div class="form-group">

            <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-default" type="submit" ng-click="checkPayment()">
                    <i class="fa fa-history fa-fw"></i> {{ 'REFRESH' | translate }}
                </button>
                <a ui-sref="app.dashboard" class="btn btn-default">
                    <i class="fa fa-home fa-fw"></i> {{ 'BACK_TO_HOME' | translate }}
                </a>
            </div>
        </div>
    </div>
</form>