<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ 'DATE' | translate }}</th>
        <th>{{ 'FROM_ACCOUNT' | translate }}</th>
        <th>{{ 'TO_ACCOUNT' | translate }}</th>
        <th>{{ 'EXCHANGING_RATE' | translate }}</th>
        <th>{{ 'STATUS' | translate }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="o in operations">
        <td>{{o.date | cbsDateTime}}</td>
        <td><span class="text-semibold">{{o.debit_account}}</span>
            <br>
            <small class="text-muted">{{o.debit_amount | cbsNumber}} {{o.debit_currency}}</small>
        </td>
        <td><span class="text-semibold">{{o.credit_account}}</span>
            <br>
            <small class="text-muted">{{o.credit_amount | cbsNumber}} {{o.credit_currency}}</small>
        </td>
        <td class="text-right">{{o.rate | cbsRate}}</td>
        <td><span class="label label-{{statusClass.get(o.status)}}">{{o.status | cbsStatus}}</span></td>
        <td ng-show="o.status == 'CONFIRMED'">
            <a ng-click="goExchange(o.id)" title="{{ 'CONTINUE' | translate }}" class="btn btn-primary btn-xs">
                <i class="fa fa-arrow-right"></i> </a>
        </td>
    </tr>

    </tbody>
</table>