<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'CURRENCY' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'UNIT_NUM' | translate }}</th>
            <th>{{ 'PURCHASING_RATE' | translate }}</th>
            <th>{{ 'SELLING_RATE' | translate }}</th>
            <th>{{ 'NBKR_RATE' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in currencies">
            <td><img ng-src="images/currency/{{c.image}}"> {{c.code}}</td>
            <td>{{c.name}}</td>
            <td>{{c.count}}</td>
            <td class="text-right">{{c.buy | cbsNumber}}</td>
            <td class="text-right">{{c.sell | cbsNumber}}</td>
            <td class="text-right">{{c.nbkr | cbsNumber}}</td>
        </tr>
        </tbody>
    </table>
</div>