<!-- Password-->
<form class="form-horizontal">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'OLD_PASS' | translate }}:</label>

            <div class="col-sm-6">
                <input type="password" class="form-control" ng-model="psw.old" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'NEW_PASS' | translate }}:</label>

            <div class="col-sm-6">
                <input type="password" class="form-control" ng-model="psw.new1" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'REENTER_NEW_PASS' | translate }}:</label>

            <div class="col-sm-6">
                <input type="password" class="form-control" ng-model="psw.new2" required>
            </div>
        </div>

        <div class="form-group">

            <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-green" type="submit" ng-click="changePsw()"
                        ng-disabled="!psw.old || !psw.new1 || !psw.new2 ||(psw.new1 != psw.new2)">
                    <i class="fa fa-save fa-fw"></i> {{ 'SAVE' | translate }}
                </button>

            </div>
        </div>

    </div>

</form>

