<div class="aside-wrap">
    <div class="navi-wrap">
        <!-- user -->
        <div class="clearfix hidden-xs text-center hide" id="aside-user">
            <div class="dropdown wrapper" dropdown>
                <a ui-sref="app.page.profile">
                    <span class="thumb-lg w-auto-folded avatar m-t-sm">
                        <img src="images/{{currentUser.id}}.jpg" class="img-full" alt="...">
                        </span>
                </a>
                <span class="clear">
                    <span class="block m-t-sm">
                        <strong class="font-bold text-lt">{{currentUser.name}}</strong>
                    </span>
                    <span class="text-muted text-xs block">{{currentUser.branch_name}}</span>
                    <span class="text-muted text-xs block">{{currentUser.position}}</span>
                </span>
            </div>
        </div>
        <!-- / user -->

        <!-- nav -->
        <!--<nav ui-nav class="navi clearfix" ng-include="'blocks/nav.html'"></nav>-->
        <!-- list -->
        <ul class="nav">
            <li ng-class="{'active':isActive('app.dashboard')}">
                <a ng-click="goRoute('app.dashboard')" title="Обзор">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-dashboard fa-fw"></i>
                    <span>Обзор</span>
                </a>
            </li>

            <li ng-class="{'active':isActive('app.account')}">
                <a ng-click="goRoute('app.account')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-list-ul fa-fw"></i>
                    <span>Счета</span>
                </a>
            </li>

            <li ng-class="{'active':isActive('app.transfer')}">
                <a ng-click="goRoute('app.transfer.smart')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-arrow-right fa-fw"></i>
                    <span>Переводы</span>
                </a>
            </li>

            <li ng-class="{'active':isActive('app.cards')}">
                <a ng-click="goRoute('app.cards')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-credit-card fa-fw"></i>
                    <span>Пластиковые карты</span>
                </a>
            </li>

            <li ng-class="{'active':isActive('app.categories')}">
                <a ng-click="goRoute('app.categories')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-briefcase fa-fw"></i>
                    <span>Оплата услуг</span>
                </a>
            </li>
      <!--
            <li ng-class="{'active':isActive('app.deposite')}">
                <a ng-click="goRoute('app.deposite')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-download fa-fw"></i>
                    <span>Вклады</span>
                </a>
            </li>
      -->
      <!--
            <li ng-class="{'active':isActive('app.credits')}">
                <a ng-click="goRoute('app.credits')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-th-large fa-fw"></i>
                    <span>Кредиты</span>
                </a>
            </li>
      -->
            <li ng-class="{'active':isActive('app.currency')}">
                <a ng-click="goRoute('app.currency.rate')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-money fa-fw"></i>
                    <span>Валюта</span>
                </a>
            </li>
<!--
            <li ng-class="{'active':isActive('app.autopayment')}">
                <a ng-click="goRoute('app.autopayment')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-circle-o-notch fa-fw"></i>
                    <span>Автоплатежи</span>
                </a>
            </li>
-->
            <li ng-class="{'active':isActive('app.history')}">
                <a ng-click="goRoute('app.history')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-file-text-o fa-fw"></i>
                    <span>История</span>
                </a>
            </li>

            <li ng-class="{'active':isActive('app.rate')}">
                <a ng-click="goRoute('app.rate')">
                    <span class="pull-right">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-cogs fa-fw"></i>
                    <span>Тарифы и лимиты</span>
                </a>
            </li>

        </ul>
        <!-- / list -->

        <!-- nav -->
    </div>
</div>