<!-- navbar header -->
<div class="navbar-header {{ app.settings.navbarHeaderColor }}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a class="navbar-brand text-lt" ng-click="goRoute('app.dashboard')">
        <img src="images/logo.png" alt="logo">
        <span class="hidden-folded m-l-xs"> {{ app.name }} </span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{ app.settings.navbarCollapseColor }}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{ app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
        <a ui-sref="app.messages" title="Сообщение">
            <i class="fa fa-envelope fa-fw"></i>
            <span class="visible-xs-inline">Сообщение</span>
            <span class="badge badge-sm up bg-danger pull-right-xs">{{messages}}</span>
        </a>
        <a ui-sref="app.information" title="Информация">
            <i class="fa fa-bell fa-fw"></i>
            <span class="visible-xs-inline">Информация</span>
            <span class="badge badge-sm up bg-green pull-right-xs">{{infos}}</span>
        </a>
        <a ui-sref="app.help" title="Справка">
            <i class="fa fa-question fa-fw"></i>
            <span class="visible-xs-inline">Справка</span>
        </a>
    </div>
    <!-- / buttons -->

    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle ng-binding" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                {{ selectLang }} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu  w">
                <li ng-repeat="(langKey, label) in langs">
                    <a ng-click="setLang(langKey, $event)" href>{{ label }}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>

        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>

                <i class="fa fa-user fa-fw"></i> <span class="hidden-sm hidden-md">{{fio}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu  w">
                <li>
                    <a ui-sref="app.settings.password">
                        <span><i class="fa fa-cog fa-fw"></i> Настройки</span>
                    </a>
                </li>

                <li class="divider"></li>
                <li>
                    <a ui-sref="signin"><i class="fa fa-sign-out fa-fw"></i>{{ 'LOGOUT' | translate }}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
