<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">{{ 'REENTER_NEW_PASS' | translate }}<br>
    Счет: {{account.name}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <lable class="col-sm-3 control-label">{{ 'PERIOD_FROM' | translate }}:</lable>
      <div class="col-sm-8">
        <cbs-date ng-model="datbeg"></cbs-date>
      </div>
    </div>
    <div class="form-group">
      <lable class="col-sm-3 control-label">{{ 'PERIOD_TO' | translate }}:</lable>
      <div class="col-sm-8">
        <cbs-date ng-model="datend"></cbs-date>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">{{ 'PERIODICITY' | translate }}:</label>

      <div class="col-sm-8">
          <select class="form-control" ng-model="period">
              <option value="day">{{ 'DAILY' | translate }}</option>
              <option value="week">{{ 'WEEKLY' | translate }}</option>
              <option value="twoweek">{{ 'EVERY_TWO_WEEKS' | translate }}</option>
              <option value="month">{{ 'MONTHLY' | translate }}</option>
              <option value="quarter">{{ 'QUARTALY' | translate }}</option>
              <option value="year">{{ 'YEARLY' | translate }}</option>

          </select>
      </div>
    </div>
    <div class="form-group" ng-show="period=='week'">
      <label class="col-sm-3 control-label">{{ 'DAY' | translate }}:</label>

      <div class="col-sm-8">
          <select class="form-control">
              <option value="1">{{ 'MONDAY' | translate }}</option>
              <option value="2">{{ 'TUESDAY' | translate }}</option>
              <option value="3">{{ 'WEDNESDAY' | translate }}</option>
              <option value="4">{{ 'THURSDAY' | translate }}</option>
              <option value="5">{{ 'FRIDAY' | translate }}</option>
              <option value="6">{{ 'SATURDAY' | translate }}</option>
              <option value="0">{{ 'SUNDAY' | translate }}</option>

          </select>
      </div>
    </div>
    <div class="form-group" ng-show="period=='twoweek'">
      <label class="col-sm-3 control-label">{{ 'DAY' | translate }}:</label>

      <div class="col-sm-8">
        <select class="form-control">
            <option value="1">{{ 'MONDAY' | translate }}</option>
            <option value="2">{{ 'TUESDAY' | translate }}</option>
            <option value="3">{{ 'WEDNESDAY' | translate }}</option>
            <option value="4">{{ 'THURSDAY' | translate }}</option>
            <option value="5">{{ 'FRIDAY' | translate }}</option>
            <option value="6">{{ 'SATURDAY' | translate }}</option>
            <option value="0">{{ 'SUNDAY' | translate }}</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-show="period=='month'">
      <label class="col-sm-3 control-label">{{ 'NUMBER' | translate }}:</label>

      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group" ng-show="period=='year'">
      <label class="col-sm-3 control-label">{{ 'NUMBER_MONTH' | translate }}:</label>

      <div class="col-sm-4">
        <input type="text" class="form-control">
      </div>
      <div class="col-sm-4">
        <select class="form-control">
          <option>{{ 'JANUARY' | translate }}</option>
          <option>{{ 'FEBRUARY' | translate }}</option>
          <option>{{ 'MARCH' | translate }}</option>
          <option>{{ 'APRIL' | translate }}</option>
          <option>{{ 'MAY' | translate }}</option>
          <option>{{ 'JUNE' | translate }}</option>
          <option>{{ 'JULY' | translate }}</option>
          <option>{{ 'AUGUST' | translate }}</option>
          <option>{{ 'SEPTEMBER' | translate }}</option>
          <option>{{ 'OKTOBER' | translate }}</option>
          <option>{{ 'NOVEMBER' | translate }}</option>
          <option>{{ 'DECEMBER' | translate }}</option>
        </select>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default">{{ 'REDACT_PAYMENT_PROPS' | translate }}</button>
  <button type="button" class="btn btn-primary">{{ 'SAVE' | translate }}</button>
</div>
