<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <p>
        {{message}}
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-green" type="button" ng-click="ok()">{{ 'SAVE' | translate }}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
</div>