<div class="modal-header">
    <h3 class="modal-title">{{ 'CURRENT_NAME' | translate }}: {{account.name}}</h3>
</div>
<div class="modal-body">
    <input class="form-control" type="text" ng-model="acc.name">
</div>
<div class="modal-footer">
    <button class="btn btn-green" type="button" ng-disabled="!acc.name" ng-click="ok()">{{ 'SAVE' | translate }}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
</div>