<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{ 'SMS_MAIL_NOTIF' | translate }}<br>
        {{ 'ACCOUNT' | translate }}: {{account.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>{{ 'CHANEL' | translate }}:</label>
                <select class="form-control" ng-model="channelId">
                    <option ng-repeat="c in channels" value="{{c.id}}"> {{c.name}}</option>
                </select>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>{{ 'ADDRESS' | translate }}:</label>
                <input type="text" class="form-control" ng-model="address">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>{{ 'TARIF' | translate }}:</label>
                <select class="form-control" ng-model="feeId">
                    <option ng-repeat="c in fees" value="{{c.id}}"> {{c.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-green btn-mar-top" ng-disabled="!address || !channelId || !feeId"
                    ng-click="addNotification()">{{ 'CONNECT' | translate }}
            </button>
        </div>
    </div>
    <br/>

    <p>{{ 'SMS_MAIL_MSG' | translate }}</p>
    <br/>
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'CHANEL' | translate }}</th>
            <th>{{ 'ADDRESS' | translate }}</th>
            <th>{{ 'TARIF' | translate }}</th>
            <th></th>
        </tr>
        <tr class="enabled" ng-repeat="notification in notifications">
            <td class="channel-e-mail">{{notification.name}}</td>
            <td>{{notification.address}}</td>
            <td>{{notification.tariff}}</td>
            <td>
                <button class="btn btn-sm btn-danger" ng-click="delNotification(notification)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-green" type="button" ng-disabled="!acc.name" ng-click="ok()">Сохранить</button>-->
    <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'CLOSE' | translate }}</button>
</div>