<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'ACCOUNTS' | translate }}</h1>
</div>

<div class="wrapper-md">

    <div class="panel panel-default" ng-repeat="account in accounts">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a ng-click="openModal(account)"><i class="fa fa-edit"></i></a>
                {{account.name}} - №:{{account.number}}
            </h4>
        </div>

        <div class="panel-body wrapper25">

            <div class="row" ng-repeat="currency in account.currencies">
                <div class="col-md-3">
                    <p class="h3 text-thin media-heading"><a ng-click="openInfoModal(currency)" data-toggle="modal"
                                                             data-target="#account-req">{{currency.name}}</a></p>
                    <span class="label label-{{statusClass.get(currency.status)}}">{{currency.status | cbsStatus}}</span>

                </div>

                <div class="col-md-2">
                    <p class="h4 text-thin media-heading">{{currency.balance | cbsNumber}} </p>
                    <small>{{ 'REMAINDER' | translate }}</small>
                </div>
                <div class="col-md-2">
                    <p class="h3 text-thin media-heading text-danger">{{currency.saldo | cbsNumber}} </p>
                    <small>{{ 'AVLBL_REMAINDER' | translate }}</small>
                </div>
                <!--
                <div class="col-md-2">
                    <p class="h4 text-thin media-heading">{{currency.open_date | cbsDate}} </p>
                    <small>Дата открытия</small>
                </div>
                -->
                <div class="col-md-2">
                    <p class="h4 text-thin media-heading">{{currency.dpd | cbsDate}} </p>
                    <small>{{ 'LAST_OPERATION_DATE' | translate }}</small>
                </div>

                <div class="col-md-2">
                    <!-- button type="button" class="btn btn-default" ng-click="openSmsModal(currency)"><i
                            class="fa fa-fw"
                            ng-class="{'fa-ban text-danger':!currency.sms, 'fa-check text-green':currency.sms}"></i> SMS
                    </button -->
                    <!-- Single button -->
                    <div class="btn-group">
                        <!-- button type="button" class="btn btn-green dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog fa-fw"></i> <span class="caret"></span>
                        </button -->
                        <!-- ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-click="goRoute(currency)"><i
                                    class="fa fa-arrow-right fa-fw"></i> Выписка</a></li>
                            <!-- li><a ui-sref="app.transfer.smart"><i class="fa fa-arrow-right fa-fw"></i> Перевод</a></li -->
                        <!--/ul -->
                        <button class="btn btn-green" type="button" ng-click="goRoute(currency)"><i
                            class="fa fa-arrow-right fa-fw"></i> {{ 'EXTRACT' | translate }}
                        </button>
                    </div>

                </div>
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/ng-template" id="account_info.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'PAYMENT_FOR_BANK_TRANSFERS' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <dl class="dl-horizontal details col-sm-8">
                <div ng-repeat="d in data">
                    <dt>{{d.key}}</dt>
                    <dd>{{d.value}}</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"><i class="fa fa-print"></i> {{ 'PRINT' | translate }}</button>
    </div>
</script>
