<!-- navbar -->
<div data-ng-include=" 'blocks/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include=" 'blocks/aside.html' " class="app-aside hidden-xs {{ app.settings.asideColor }}">

</div>
<!-- / menu -->

<!-- content -->
<div class="app-content">
    <!--<div ui-butterbar></div>-->
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a>
    <div class="app-content-body fade-in" ui-view></div>
</div>
<!-- /content -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{ app.version }} <a href ui-scroll="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>

    <small class="text-muted">{{ 'COPYRIGHT' | translate }} <a ui-sref="app.oferta">{{ 'CONTRACT_OFFER' | translate }}</a></small>
</div>
</div>
<!-- / footer -->

<div data-ng-include=" 'blocks/settings.html' " class="settings panel panel-default">
</div>