<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'AUTO_PAYMENT' | translate }}</h1>
</div>
<div class="wrapper-md">

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'MOUNTHLY_FOR_INTERNET' | translate }}
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{{ 'OPERATION_TYPE' | translate }}:</dt>
                        <dd>{{ 'SERVICE_PAYMENT' | translate }}: 1236548</dd>

                        <dt>{{ 'PERIOD' | translate }}:</dt>
                        <dd>15.05.2015 - 15.06.2015</dd>

                        <dt>{{ 'PERIODICITY' | translate }}:</dt>
                        <dd>Каждый месяц</dd>

                        <dt>{{ 'FROM_ACCOUNT' | translate }}:</dt>
                        <dd>1234567891234567 KGS</dd>

                        <dt>{{ 'SUM' | translate }}:</dt>
                        <dd>8 000</dd>

                        <dt>{{ 'NEXT_PAYMENT' | translate }}:</dt>
                        <dd>15.06.2015</dd>

                        <dt>{{ 'STATUS' | translate }}:</dt>
                        <dd>{{ 'BLOCKED' | translate }}</dd>
                    </dl>

                    <button type="button" class="btn btn-default btn-sm" ng-click="openSmsModal()"><i
                            class="fa fa-check fa-fw text-green"></i> SMS
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="openAutoModal()"><i class="fa fa-edit"></i> {{ 'REDACT' | translate }}</button>
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#stop"><i class="fa fa-pause"></i> {{ 'PAUSE' | translate }}</button>
                    <button class="btn btn-default btn-sm"data-toggle="modal" data-target="#del" ><i class="fa fa-trash"></i> {{ 'DELETE' | translate }}</button>

                </div>
            </div>
        </div>
    </div>


    <!--Last payments-->
    <div class="hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'BLOCKED' | translate }}
            </div>
            <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'OPERATION_TYPE' | translate }}</th>
                            <th>{{ 'DATE' | translate }}</th>
                            <th>{{ 'FROM_ACCOUNT' | translate }}</th>
                            <th>{{ 'RECIPIENT' | translate }}</th>
                            <th>{{ 'PURPOSE' | translate }}</th>
                            <th>{{ 'SUM' | translate }}</th>
                            <th>{{ 'STATUS' | translate }}</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Оплата услуг</td>
                            <td>06.10.2015 00:00</td>
                            <td>1190010001112234 USD</td>
                            <td><span class="text-semibold">2134123 </span>
                                <br>
                                <small class="text-muted">jsadjf asjl</small>
                            </td>
                            <td>ыфвафыва</td>
                            <td class="text-right">фывафыва</td>
                            <td><span class="label label-success">фываыфва</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

        </div>
    </div>

</div>

<!-- Modal edit -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'REDACT_AUTO_PAYMENT' | translate }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <lable class="col-sm-3 control-label">{{ 'PERIOD_FROM' | translate }}:</lable>
                        <div class="col-sm-8">
                            <cbs-date ng-model="datbeg"></cbs-date>
                        </div>
                    </div>
                    <div class="form-group">
                        <lable class="col-sm-3 control-label">{{ 'PERIOD_TO' | translate }}:</lable>
                        <div class="col-sm-8">
                            <cbs-date ng-model="datend"></cbs-date>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{ 'PERIODICITY' | translate }}:</label>

                        <div class="col-sm-8">
                            <select class="form-control" ng-model="period">
                                <option value="day">{{ 'DAILY' | translate }}</option>
                                <option value="week">{{ 'WEEKLY' | translate }}</option>
                                <option value="twoweek">{{ 'EVERY_TWO_WEEKS' | translate }}</option>
                                <option value="month">{{ 'MONTHLY' | translate }}</option>
                                <option value="quarter">{{ 'QUARTALY' | translate }}</option>
                                <option value="year">{{ 'YEARLY' | translate }}</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="period=='week'">
                        <label class="col-sm-3 control-label">{{ 'DAY' | translate }}:</label>

                        <div class="col-sm-8">
                            <select class="form-control">
                                <option value="1">{{ 'MONDAY' | translate }}</option>
                                <option value="2">{{ 'TUESDAY' | translate }}</option>
                                <option value="3">{{ 'WEDNESDAY' | translate }}</option>
                                <option value="4">{{ 'THURSDAY' | translate }}</option>
                                <option value="5">{{ 'FRIDAY' | translate }}</option>
                                <option value="6">{{ 'SATURDAY' | translate }}</option>
                                <option value="0">{{ 'SUNDAY' | translate }}</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="period=='twoweek'">
                        <label class="col-sm-3 control-label">{{ 'DAY' | translate }}:</label>

                        <div class="col-sm-8">
                            <select class="form-control">
                                <option value="1">{{ 'MONDAY' | translate }}</option>
                                <option value="2">{{ 'TUESDAY' | translate }}</option>
                                <option value="3">{{ 'WEDNESDAY' | translate }}</option>
                                <option value="4">{{ 'THURSDAY' | translate }}</option>
                                <option value="5">{{ 'FRIDAY' | translate }}</option>
                                <option value="6">{{ 'SATURDAY' | translate }}</option>
                                <option value="0">{{ 'SUNDAY' | translate }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="period=='month'">
                        <label class="col-sm-3 control-label">{{ 'NUMBER' | translate }}</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" ng-show="period=='year'">
                        <label class="col-sm-3 control-label">{{ 'NUMBER_MONTH' | translate }}:</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>{{ 'JANUARY' | translate }}</option>
                                <option>{{ 'FEBRUARY' | translate }}</option>
                                <option>{{ 'MARCH' | translate }}</option>
                                <option>{{ 'APRIL' | translate }}</option>
                                <option>{{ 'MAY' | translate }}</option>
                                <option>{{ 'JUNE' | translate }}</option>
                                <option>{{ 'JULY' | translate }}</option>
                                <option>{{ 'AUGUST' | translate }}</option>
                                <option>{{ 'SEPTEMBER' | translate }}</option>
                                <option>{{ 'OKTOBER' | translate }}</option>
                                <option>{{ 'NOVEMBER' | translate }}</option>
                                <option>{{ 'DECEMBER' | translate }}</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">{{ 'REDACT_PAYMENT_PROPS' | translate }}</button>
                <button type="button" class="btn btn-primary">{{ 'SAVE' | translate }}</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal stop -->
<div class="modal fade" id="stop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'PAUSE' | translate }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ 'PAUSE_DATE' | translate }}:</label>

                        <div class="col-sm-6">
                            <cbs-date ng-model="doc_date"></cbs-date>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">{{ 'PAUSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'PAUSE' | translate }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <p>{{ 'PAUSE_MODAL_MSG' | translate }}</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">{{ 'YES' | translate }}</button>
                <button type="button" class="btn btn-default">{{ 'CANCEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>
