<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'CARDS' | translate }}</h1>
</div>
<div class="wrapper-md">

    <div class="col-md-12">
        <div class="panel panel-default" ng-repeat="account in accounts">
            <div class="panel-heading h4">
                {{ 'SALLARY_CARD' | translate }}: {{account.number}}
                <span class="pull-right">{{ 'REMAINDER' | translate }}: {{account.saldo | cbsNumber}} {{account.code}}</span>
            </div>

            <div class="panel-body">
                <div class="media" ng-repeat="card in account.cards">
                    <div class="media-left">
                        <img src="images/elcard.png" alt="">
                    </div>
                    <div class="media-body pad-lft">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="h4"><a ui-sref="app.cardstatement">{{card.name}}</a> <a
                                        ng-click="openModal(card)"><i
                                        class="fa fa-edit"></i><br>{{card.number}}</a></p>
                                <span class="label label-{{statusClass.get(card.status)}}">{{card.status | cbsStatus}}</span>
                            </div>
                            <div class="col-md-4">
                                <p class="h4">{{card.date | cbsDate}}</p>
                                <small>{{ 'EXPIRES_ON' | translate }}</small>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default" ng-click="openSmsModal(card)">
                                    <i class="fa fa-fw"
                                       ng-class="{'fa-ban text-danger':!card.sms, 'fa-check text-green':card.sms}"></i>
                                    SMS
                                </button>

                                <!-- Single button -->
                                <span class="btn-group">
                                    <button type="button" class="btn btn-green dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cog fa-fw"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                         <li><a ng-click="goRoute('app.cardmini',card)"><i
                                                class="fa fa-list fa-fw"></i> {{ 'MINI_STATEMENT' | translate }}</a>
                                        </li>
                                        <li><a ng-click="goRoute('app.cardstatement',card)"><i
                                                class="fa fa-list fa-fw"></i> {{ 'EXTRACT' | translate }}</a>
                                        </li>

                                            <li ng-show="card.status == 'OPEN'"><a ng-click="goRoute('app.transfer.tocard',card)"><i
                                                    class="fa fa-arrow-right fa-fw"></i> {{ 'CARD_TRANSFER' | translate }}</a></li>
                                            <li ng-show="card.status == 'OPEN'"><a ng-click="openBlockModal(card)"><i
                                                    class="fa fa-lock fa-fw"></i> {{ 'BLOCK' | translate }}</a></li>
                                            <li ng-show="card.status == 'OPEN'"><a ng-click="openLimitModal(card)">
                                                <i class="fa fa-warning fa-fw"></i> {{ 'LIMITS' | translate }}</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/ng-template" id="CardLimitModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'CARD_LIMITS' | translate }} {{card.number}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'SUM' | translate }}:</label>
                    <input type="number" class="form-control" ng-model="amount">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'PERIOD' | translate }}:</label>
                    <select class="form-control" ng-model="periodId">
                        <option ng-repeat="c in periods" value="{{c.id}}"> {{c.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-green btn-mar-top" ng-click="addLimit()"
                        ng-disabled="!periodId || !amount">{{ 'SAVE' | translate }}
                </button>
            </div>
        </div>
        <br/>

        <p>{{ 'CARD_LIMITS_OFFER_MSG' | translate }}.</p>
        <br/>
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'SUM' | translate }}:</th>
                <th>{{ 'PERIOD' | translate }}:</th>
                <th></th>
            </tr>
            <tr class="enabled" ng-repeat="l in limits">
                <td class="text-right">{{l.amount | cbsNumber}}</td>
                <td>{{l.period}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" ng-click="delLimit(l)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-green" type="button" ng-disabled="!acc.name" ng-click="ok()">{{ 'SAVE' | translate }}</button>-->
        <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'CLOSE' | translate }}</button>
    </div>
</script>

<script type="text/ng-template" id="CardBlockModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'BLOCK_CARD' | translate }} {{card.number}}</h4>
    </div>
    <div class="modal-body">
        <h4>{{ 'BLOCKING_REASON' | translate }}:</h4>

        <div class="row">
            <div class="form-group col-sm-12">
                <select class="form-control" ng-model="reasonId">
                    <option ng-repeat="r in reasons" value="{{r.id}}">{{r.name}}</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <input type="password" class="form-control" placeholder="{{ 'USER_PASS' | translate }}" ng-model="password">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" ng-click="block()">{{ 'BLOCK' | translate }}</button>
        <button class="btn btn-default pull-right" ng-click="cancel()">{{ 'CLOSE' | translate }}</button>
    </div>
</script>