<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">Выписка по счету</h1>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <form class="form-horizontal">
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Карта:</label>

                    <div class="col-sm-6">
                        <select class="form-control" ng-model="accountId">
                            <option ng-repeat="account in accounts" value="{{account.id}}">
                                {{account.number}} - {{account.saldo | cbsNumber}}
                            </option>
                        </select>
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="col-sm-3 control-label">Валюта:</label>-->

                <!--<div class="col-sm-3">-->
                <!--<select class="form-control">-->
                <!--<option> Все валюты</option>-->
                <!--<option> KGS</option>-->
                <!--<option>USD</option>-->
                <!--<option>EUR</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-sm-3 control-label">Период:</label>

                    <div class="col-sm-6">
                        <div class="input-daterange input-group">
                            <cbs-date ng-model="datbeg"></cbs-date>
                            <cbs-date ng-model="datend"></cbs-date>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Поиск:</label>

                    <div class="col-sm-6">
                        <input type="text" placeholder="" class="form-control" ng-model="filter">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-green" type="submit" ng-click="getTransactions()"><i
                                class="fa fa-download fa-fw"></i> Получить
                        </button>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div class="panel panel-default" ng-show="transactions.length>0">
        <div class="panel-heading">
            Карточный счет - №: {{account.number}}
        </div>

        <!--Panel body-->
        <div class="panel-body">
            <div class="form-inline">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" title="Распечатать"><i class="fa fa-print"></i></button>
                        <button class="btn btn-success" title="Сохранить в Excel"><i class="fa fa-file-excel-o"></i>
                        </button>
                        <button class="btn btn-danger" title="Созранить в PDF"><i class="fa fa-file-pdf-o"></i></button>

                    </div>
                    <div class="col-sm-6 ">
                        <strong class="pull-right">Входящий остаток на {{incoming.date | cbsDate}} =
                            {{incoming.balance | cbsNumber}}</strong>
                    </div>
                </div>
            </div>
            <br>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Получатель</th>
                        <th>Статус</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tran in transactions">
                        <td>{{tran.date | cbsDateTime}}</td>
                        <td><span class="text-semibold">{{tran.correspondent}}</span>
                            <br>
                            <small class="text-muted">{{tran.corraccount}}</small>
                        </td>
                        <td>{{tran.status}}</td>
                        <td class="text-right">{{tran.balance | cbsNumber}}</td>
                    </tr>

                    </tbody>
                </table>
                <div><strong class="pull-right">Исходящий остаток на {{outgoing.date | cbsDate}} =
                    {{outgoing.balance | cbsNumber}}</strong></div>
            </div>
        </div>
    </div>

</div>