<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">Оплата услуг</h1>
</div>
<div class="wrapper-md">

    <div class="row">
        <div class="col-sm-6 col-md-3 grup-service" ng-repeat="c in categories">
            <a ui-sref="app.services({categoryId:c.id})" class="block panel padder-v item n text-center">
                <!--<img class="img-responsive usluga-item" ng-src="images/services/{{c.image}}" alt="">-->
                <img image="images/services/{{c.image}}" image-loading="/images/loading.gif" image-holder="/images/services/no_image.png" />
                <h4>{{c.name}}</h4>
            </a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Последние платежи
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Получатель</th>
                    <th>Назначение</th>
                    <th>Сумма</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="payment in payments">
                    <td>{{payment.date | cbsDateLong}}</td>
                    <td><span class="text-semibold">{{payment.name}}</span>
                        <br>
                        <small class="text-muted">{{payment.requisite}}</small>
                    </td>
                    <td>{{payment.description}}</td>
                    <td class="text-right">{{payment.amount | cbsNumber}}</td>
                    <td><span class="label label-{{statusClass.get(payment.status)}}">{{payment.status | cbsStatus}}</span></td>
                    <td>
                        <button class="btn btn-green btn-xs" title="Повторить оплату" ng-click="goPayment(payment)"><i class="fa fa-refresh"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
