<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">Кредиты</h1>
</div>

<div class="wrapper-md">

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Счета №: 1256985177862145
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Номер договора:</dt>
                        <dd>012И010-2013</dd>

                        <dt>Дата подписания:</dt>
                        <dd>24.05.2013</dd>

                        <dt>Текущая ставка:</dt>
                        <dd>20%</dd>

                        <dt>Сумма кредита:</dt>
                        <dd>17 180,00 USD </dd>

                        <dt>Задолженность:</dt>
                        <dd>8 768,82 USD</dd>
                    </dl>

                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#sms"><i
                            class="fa fa-check fa-fw text-green"></i> SMS
                    </button>
                    <button class="btn btn-default btn-sm" ui-sref="app.plan"><i class="fa fa-file-text-o fa-fw"></i> График погашения
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modalv sms -->
<div class="modal fade" id="sms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">SMS/E-mail уведомления<br>
                    Карта 4797 29** **** 6192</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                                       checked>
                                SMS
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                E-mail
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <br>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <br>
                        <button type="submit" class="btn btn-green">Подключить</button>
                    </div>
                </div>
                <br/>

                <p>Нажимая кнопку Подключить, вы соглашаетесь с правилами, условиями и тарифами услуги SMS/E-mail -
                    информирование.</p>
                <br/>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Канал</th>
                        <th>Куда</th>
                        <th>В месяц</th>
                        <th></th>
                    </tr>
                    <tr class="enabled">
                        <td class="channel-e-mail">e-mail</td>
                        <td>no@email.com</td>
                        <td>10.00&nbsp;RUB</td>
                        <td>
                            <button class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>SMS</td>
                        <td>1234567890</td>
                        <td>30.00&nbsp;RUB</td>
                        <td>
                            <button class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
