<div class="wrapper-md">
    <h4 class="m-t-none m-b">{{ 'SEARCH_OPERATION' | translate }}</h4>

    <form class="form-horizontal wrapper">
        <div class="form-group">
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="{{ 'DASH_SEARCH_PLCHLDR' | translate }}"
                       ng-model="transfer"
                       typeahead-min-length="3"
                       typeahead-wait-ms="500"
                       typeahead="t as t.type + ': '+ t.receiver + ' ' +t.requisite + t.description for t in getTransfers($viewValue)"/>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary" ng-disabled="!transfer.id" ng-click="goTo(transfer.id)">{{ 'GO_TO' | translate }} <i
                        class="fa fa-arrow-right fa-fw"></i>
                </button>
            </div>
        </div>
    </form>
    <hr/>
    <div class="hidden-sm hidden-xs">
        <h4 class="m-t-none m-b">{{ 'FAV_SERVICES' | translate }}</h4>

        <div class="row">

            <div class="col-sm-6 col-md-3 grup-service" ng-repeat="favorite in favorites">
                <a ui-sref="app.payment({serviceId:favorite.id})" class="block panel padder-v item n text-center">
                    <!--<img class="img-responsive usluga-item" ng-src="images/services/{{favorite.image}}" alt="">-->
                    <img image="images/services/{{favorite.image}}" image-loading="/images/loading.gif" image-holder="/images/services/no_image.png" />
                    <h4>{{favorite.name}}</h4>
                </a>
            </div>
        </div>
    </div>

    <hr>

    <!--Last payments-->
    <div class="hidden-sm hidden-xs">
        <h4 class="m-t-none m-b">{{ 'LAST_OPERATIONS' | translate }}</h4>

        <div class="panel wrapper">
            <!--Panel body-->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'OPERATION_TYPE' | translate }}</th>
                            <th>{{ 'DATE' | translate }}</th>
                            <th>{{ 'FROM_ACCOUNT' | translate }}</th>
                            <th>{{ 'RECIPIENT' | translate }}</th>
                            <th>{{ 'PRESONAL_NOTE' | translate }}</th>
                            <th>{{ 'SUM' | translate }}</th>
                            <th>{{ 'STATUS' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in payments">
                            <td><a class="link" ui-sref="app.details({id:p.id})"> {{p.type}}</a></td>
                            <td>{{p.date | cbsDateTime}}</td>
                            <td>{{p.account}} {{p.currency}}</td>
                            <td><span class="text-semibold">{{p.name}}</span>
                                <br>
                                <small class="text-muted">{{p.requisite}}</small>
                            </td>
                            <td>{{p.description}}</td>
                            <td class="text-right">{{p.amount | cbsNumber}}</td>
                            <td>
                                <a class="link" ui-sref="app.details({id:p.id})">
                                    <span class="label label-{{statusClass.get(p.status)}}">{{p.status | cbsStatus}}</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Services-->

    <div class="row visible-xs visible-sm hidden-lg">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a ui-sref="app.account" class="widget-home">
                <img src="images/home/account.png">

                <h3>{{ 'ACCOUNTS' | translate }}</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a ui-sref="app.transfer.smart" class="widget-home">
                <img src="images/home/transfer.png">

                <h3>{{ 'TRANSFERS' | translate }}</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a ui-sref="app.cards" class="widget-home">
                <img src="images/home/cards.png">

                <h3>{{ 'CARDS' | translate }}</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a ui-sref="app.categories" class="widget-home">
                <img src="images/home/uslugi.png">

                <h3>{{ 'SERVICE_PAYMENT' | translate }}</h3>
            </a>
        </div>
        <!--div class="col-xs-12 col-sm-6 col-md-3">
            <a ui-sref="app.deposite" class="widget-home">
                <img src="images/home/deposit.png">

                <h3>Вклады</h3>
            </a>
        </div-->
        <!--div class="col-xs-12 col-sm-6 col-md-3">
            <a ui-sref="app.credits" class="widget-home">
                <img src="images/home/credit.png">

                <h3>Кредиты</h3>
            </a>
        </div-->
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a ui-sref="app.currency" class="widget-home">
                <img src="images/home/currency.png">

                <h3>{{ 'CURRENCY' | translate }}</h3>
            </a>
        </div>
        <!--div class="col-xs-12 col-sm-6 col-md-3">

            <a ui-sref="app.autopayment" class="widget-home">
                <img src="images/home/autopayment.png">

                <h3>Автоплатеж</h3>
            </a>
        </div-->
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a ui-sref="app.history" class="widget-home">
                <img src="images/home/history.png">

                <h3>{{ 'HISTORY' | translate }}</h3>
            </a>
        </div>
    </div>
</div>
