<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">Вклады</h1>
</div>

<div class="wrapper-md">

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Счета №: 2568 5689 2363 5869
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Номер договора:</dt>
                        <dd>2568 5689 2363 5869</dd>

                        <dt>Дата подписания:</dt>
                        <dd>24.05.2013</dd>

                        <dt>Срок договора:</dt>
                        <dd>1 год</dd>

                        <dt>Сумма договора:</dt>
                        <dd>22 000.00 USD</dd>

                        <dt>Процентная ставка:</dt>
                        <dd>20%</dd>

                        <dt>Сумма процентов:</dt>
                        <dd>8 000.00 USD</dd>

                        <dt>Статус:</dt>
                        <dd><span class="label label-success">Открыт</span></dd>

                    </dl>

                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#sms"><i
                            class="fa fa-download fa-fw"></i> Пополнить депозит
                    </button>
                    <button class="btn btn-default btn-sm" ui-sref="app.plan"><i class="fa fa-file-text-o fa-fw"></i> График погашения
                    </button>
                    <button class="btn btn-default btn-sm" ui-sref="app.plan"><i class="fa fa-arrow-right fa-fw"></i> Снять проценты
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
