<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">Детали операции</h1>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <dl class="dl-horizontal details col-sm-8">
                    <div ng-repeat="d in datas">
                        <dt ng-hide="d.key == 'status'">{{d.key}}:</dt>
                        <dd>{{d.value}}</dd>
                    </div>
                </dl>

            </div>
            <button class="btn btn-default" ng-click="openPdf(true)" ng-show="status == 'EXECUTED'">PDF открыть</button>
            <button class="btn btn-default" ng-click="openPdf()" ng-show="status == 'EXECUTED'">PDF скачать</button>
            <button class="btn btn-green" ng-click="continue()" ng-show="status == 'DRAFT'">Продолжить</button>
            <button class="btn btn-primary" ng-click="cancel()" ng-show="status == 'WAITING'">Отменить</button>
            <button class="btn btn-primary" ng-click="paymentRepeat()" ng-show="status == 'EXECUTED'">Повторить</button>

        </div>
    </div>
</div>
