<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'HELP' | translate }}</h1>
</div>

<div class="wrapper-md">
    <accordion close-others="oneAtATime">

        <accordion-group heading="{{ 'HELP1' | translate }}">
            {{ 'HELP1_MSG' | translate }}
        </accordion-group>
        <accordion-group heading="{{ 'HELP2' | translate }}">
            {{ 'HELP2_MSG' | translate }}
        </accordion-group>
        <accordion-group heading="{{ 'HELP3' | translate }}">
            {{ 'HELP3_MSG' | translate }}
        </accordion-group>
        <accordion-group heading="{{ 'HELP4' | translate }}">
            {{ 'HELP4_MSG' | translate }}
        </accordion-group>
        <accordion-group heading="{{ 'HELP5' | translate }}">
            {{ 'HELP5_MSG' | translate }}
        </accordion-group>
        <accordion-group heading="{{ 'HELP6' | translate }}">
            {{ 'HELP6_MSG' | translate }}
        </accordion-group>
        <accordion-group heading="{{ 'HELP7' | translate }}">
            {{ 'HELP7_MSG' | translate }}
        </accordion-group>
        <accordion-group heading="{{ 'HELP8' | translate }}">
            {{ 'HELP8_MSG' | translate }}
        </accordion-group>
    </accordion>
</div>