<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'HISTORY' | translate }}</h1>
</div>
<div class="wrapper-md">
    <div class="panel">
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'FROM_ACCOUNT' | translate }}:</label>

                    <div class="col-sm-6">
                        <select class="form-control" ng-model="accountId" ng-disabled="disableAccount">
                            <option ng-repeat="account in accounts" value="{{account.id}}">
                                {{account.name}} - {{account.number}} {{account.saldo | cbsNumber:2}} {{account.code}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'CURRENCY' | translate }}:</label>

                    <div class="col-sm-3">
                        <select class="form-control" ng-model="currencyId" ng-disabled="disableCurrency">
                            <option ng-repeat="c in currencies" value="{{c.id}}">
                                {{c.code}} - {{c.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'PERIOD' | translate }}:</label>

                    <div class="col-sm-6">
                        <div class="input-daterange input-group" id="datepicker">
                            <cbs-date ng-model="datbeg"></cbs-date>
                            <cbs-date ng-model="datend"></cbs-date>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'OPERATION_TYPE' | translate }}:</label>

                    <div class="col-sm-3">
                        <select class="form-control" ng-model="typeId">
                            <option ng-repeat="tp in types" value="{{tp.id}}">
                                {{tp.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'SEARCH' | translate }}:</label>

                    <div class="col-sm-6">
                        <input type="text" ng-model="filtr" class="form-control">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-green" type="submit" ng-click="getHistory()"><i
                                class="fa fa-download fa-fw"></i> {{ 'AQUIRE' | translate }}
                        </button>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div class="panel wrapper">

        <!--Panel body-->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'OPERATION_TYPE' | translate }}</th>
                        <th>{{ 'DATE' | translate }}</th>
                        <th>{{ 'FROM_ACCOUNT' | translate }}</th>
                        <th>{{ 'RECIPIENT' | translate }}</th>
                        <th>{{ 'PRESONAL_NOTE' | translate }}</th>
                        <th>{{ 'SUM' | translate }}</th>
                        <th>{{ 'STATUS' | translate }}</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="d in data">
                        <td><a class="link" ui-sref="app.details({id:d.id})"> {{d.type}}</a></td>
                        <!--<td>{{d.type}}</td>-->
                        <td>{{d.date | cbsDateTime}}</td>
                        <td>{{d.account}}</td>
                        <td><span class="text-semibold">{{d.name}}</span>
                            <br>
                            <small class="text-muted">{{d.requisite}}</small>
                        </td>
                        <td>{{d.purpose}}</td>
                        <td class="text-right">{{d.amount | cbsNumber}} {{d.currency}}</td>
                        <td><span class="label label-{{statusClass.get(d.status)}}">{{d.status | cbsStatus}}</span></td>
                        <td><a ng-click="cancel(d.id)" title="{{ 'CANCEL_OPERATION' | translate }}" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i> </a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
