<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'INFO' | translate }}</h1>
</div>
<div class="wrapper-md">

    <div class="row">
        <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs" ng-repeat="info in infos">
            <li class="list-group-item clearfix">
                <div class="avatar thumb pull-left m-r" href="#/app/page/profile">
                    <img src="images/bank.png">
                </div>

                <div class="text-sm text-muted">
                    <button class="pull-right btn btn-danger btn-sm" title="{{ 'DELETE' | translate }}" ng-click="delInfo(info)">
                        <i class="fa fa-trash"></i></button>
                </div>
                <div class="clear">
                    <a class="text-md" ng-click="openInfoModal(info)">{{info.information}}</a>

                    <div class="text-ellipsis m-t-xs ">
                        <i class="fa fa-calendar"></i> {{info.date | cbsDateTime}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/ng-template" id="info_modal.html">
    <!--<div class="modal-header">-->
    <!--<h3 class="modal-title">Создайте тему</h3>-->
    <!--</div>-->
    <div class="modal-body">
        <p> {{info.information}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
    </div>
</script>


<!-- Modal stop -->
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'BANK_DONT_WORK' | translate }}.</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'BANK_DONT_WORK_MSG' | translate }}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>