<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'MSG' | translate }}</h1>
</div>
<div class="wrapper-md">

    <div class="row">
        <div ng-class="{'col-sm-4':topic}">

            <div class="wrapper bg-light lter b-b">
                <button class="btn btn-sm btn-bg btn-default pull-right" ng-click="getTopics()"
                        title="{{ 'REFRESH' | translate }}"><i class="fa fa-refresh"></i></button>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-green btn-sm btn-bg dropdown-toggle" ng-click="openTopicModal()">
                            {{ 'CREATE' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                <li class="list-group-item clearfix" ng-repeat="t in topics">
                    <div class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="images/{{t.type ==1?'bank.png':'user.png'}}">
                    </div>

                    <div class="text-sm text-muted">
                        <button class="pull-right btn btn-danger btn-sm" title="{{ 'DELETE' | translate }}" ng-click="delTopic(t)"><i
                                class="fa fa-trash"></i></button>
                    </div>
                    <div class="clear">
                        <div><a class="text-md" ng-click="openTopic(t)">
                            <span class="label label-primary">{{t.messages}}</span> {{t.name}}</a>
                        </div>
                        <div class="text-ellipsis m-t-xs "><i class="fa fa-calendar"></i> {{t.date | cbsDateTime}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-8" ng-show="topic">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{topic.name}}</h4>
                </div>
                <div class="panel-body">
                    <div class="bg-white wrapper m-b" ng-repeat="m in messages">
                        <div class="pull-left thumb-sm">
                            <img ng-src="images/{{m.type ==1?'bank.png':'user.png'}}" class="img-circle">
                        </div>

                        <div class="m-l-xxl m-b">
                            <div>
                                <a href=""><strong>{{m.author}}</strong></a>
                                <span class="text-muted text-xs block pull-right">{{m.date | cbsDateTime}}</span>
                            </div>
                            <div class="m-t-sm">{{m.message}}
                            </div>
                        </div>
                    </div>

                    <h4 class="m-t-lg m-b">{{ 'WRITE_MSG' | translate }}</h4>

                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="{{ 'YOUR_MSG' | translate }}"
                                      ng-model="message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" ng-click="addMessage()">{{ 'SEND' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="topic_modal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'CREATE_TOPIC' | translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="topic.name" placeholder="{{ 'YOUR_TOPIC' | translate }}" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-green" type="button" ng-disabled="!topic.name" ng-click="ok()">{{ 'SAVE' | translate }}</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
    </div>
</script>