<div class="bg-light lter b-b wrapper-md ng-scope">
  <h1 class="m-n font-thin h4">Договор оферты</h1>
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-body">


      <p><strong>Договор Публичной оферты.</strong></p>

      <p>Настоящим, ОсОО «БиСмарт кей джи», юридическое лицо, зарегистрированное в соответствии с законодательством
        Республики Кыргызстан &nbsp;(именуемое далее «Агент»), заявляет, что действуя от имени и за счет Исполнителя
        (как указано далее) будет считать себя заключившим настоящий Договор Публичной оферты (далее «Договор») с любым
        физическим лицом, зарегистрированным на сайте в сети Интернет по адресу <a href="http://www.besmart.kg/">www.besmart.kg</a>
        и предоставившим Акцепт Публичной оферты Исполнителя на специальных Условиях Акции:</p>
      <ol>
        <li>Термины и определения:</li>
      </ol>
      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Акцепт Публичной оферты</em> – полное и безоговорочное принятие
        условий Публичной оферты, выраженное в осуществлении регистрации на Сайте и/или приобретении Купона в рамках
        любой проводимой Акции. В момент совершения Акцепта Публичной оферты Публичный договор между Сторонами считается
        заключенным.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Акция </em>– мероприятие, проводимое Исполнителем совместно с
        Агентом, направленное на реализацию товаров или услуг Исполнителя с использованием Купонов, приобретенных у
        Агента на условиях, оговоренных в настоящей Публичной оферте и в Условиях Акции.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Купон</em> – приобретаемый Пользователем у Агента электронный
        документ, имеющий буквенно-цифровой код, позволяющий однозначно идентифицировать Пользователя и дающий право на
        приобретение у Исполнителя товаров или услуг на Условиях Акции в период срока ее действия. При приобретении
        Купонов, Пользователь может получать право на получение от Исполнителя товара или услуги с необходимостью оплаты
        Исполнителю их по сниженной стоимости (купон) или может получать право на получение товара или услуги без
        необходимости проведения дополнительной оплаты Продавцу (сертификат) (в зависимости от Условий Акции). Купон
        позволяет определить факт Акцепта Публичной оферты на Условиях Акции.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Исполнитель </em>– поставщик товара или услуги в соответствии с
        Условиями Акции.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Личный кабинет</em> – персональный раздел Пользователя на
        Сайте, с помощью которого Пользователь может получать информацию о текущем состоянии Счета, приобретенных
        Купонах, осуществлять распечатку Купона и т.д.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Пользователь или во множественном числе Пользователи </em>–
        любое физическое лицо, осуществившее Акцепт Публичной оферты.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Публичная оферта</em> – настоящее предложение о приобретении
        товаров и (или) услуг Исполнителя, публикуемое Агентом от имени Исполнителя на Сайте, обращенное неограниченному
        кругу лиц, в том числе к Пользователям. Публичная оферта состоит из настоящего Договора, которое регулирует
        отношения Сторон Публичного договора в целом, и из опубликованных на Сайте Условий Акции.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Сайт</em> – совокупность веб-страниц, размещенных в сети
        Интернет по адресу: www.besmart.kg&nbsp; и все домены следующих уровней.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Счет </em>– виртуальный счет, открываемый Агентом на имя
        Пользователя на Сайте.</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Условия Акции</em> – размещаемые Агентом от имени Исполнителя
        на Сайте и адресованные неопределенному кругу лиц, в том числе Пользователям, предложения о приобретении у
        Исполнителя товаров или услуг на специальных условиях Акции. Условия Акции являются неотъемлемой частью
        (Приложением) к настоящему Договору.</p>
      <ol>
        <li>Осуществление Акцепта Публичной оферты означает, что Пользователь безоговорочно, безусловно и безотзывно
          согласен со всеми положениями Договора и приложений к нему (Условия Акции), и равносильно заключению Договора
          между Пользователем и Исполнителем, от имени которого действует Агент.
        </li>
        <li>Предмет, условия и срок действия Договора устанавливаются в соответствующем Приложении к нему (Условия
          Акции).
        </li>
        <li>Полномочия Агента ограничиваются размещением на Сайте предмета и условий сделки от имени и за счёт
          Исполнителя, а также оформлением сделки путем зачисления денежных средств Пользователя и (или) предоставлением
          Пользователю Купонов, в порядке, предусмотренном пунктом 6 Договора. Права и обязанности по Договору возникают
          непосредственно у Пользователя и Исполнителя. Пользователь настоящим понимает и соглашается с тем, что Агент
          не продает товары и не оказывает услуги, указанные в Условиях Акции, в связи с чем, он не несет
          ответственности за качество товаров и услуг Исполнителем. Все претензии по качеству товаров и услуг
          предъявляются непосредственно Исполнителю.
        </li>
        <li>Один Пользователь может зарегистрироваться на Сайте только один раз. После осуществления регистрации и
          подтверждения регистрации Агентом, Пользователь получает возможность приобретать Купоны на Сайте.
        </li>
        <li>Пользователь оплачивает сумму в размере, указанном в соответствующем Приложении к Договору (Условиях Акции),
          Агенту способами, указанными на Сайте. Все расходы, связанные с оплатой Купона несет плательщик, в том числе
          комиссии платежных систем и иные расходы.
        </li>
        <li>Несоответствие предъявляемого Пользователем Купона форме, установленной Агентом, влечет его
          недействительность.
        </li>
        <li>Повторное представление (использование) одного и того же Купона, если кто-либо уже получил по данному Купону
          товар или услугу Исполнителя, недопустимо.
        </li>
        <li>Купон не может быть использован частично. То есть по Купону Исполнитель должен предоставить, а Пользователь
          должен получить весь объем товаров или услуг, указанный в Условиях Акции и в соответствующем Купоне.
        </li>
        <li>Для получения товара или услуги у Исполнителя по Акции, Пользователь должен предъявить Исполнителю
          соответствующий Купон (если иное не указано в Условиях Акции). В случае, если в Условиях Акции не указан
          порядок предъявления Исполнителю Купона, Пользователь должен предъявить Исполнителю Купон, распечатанный на
          бумажном носителе.
        </li>
        <li>За различные действия на Сайте, Агент оставляет за собой право начислять бонусные средства на Счет
          Пользователя в Личном кабинете. Один бонусный тенге равен одному тенге национальной валюты Республики
          Кыргызстан. Бонусные средства могут быть использованы исключительно для приобретения Купонов, которые
          размещены на Сайте в разделе "Бонусные акции". В случае одностороннего отказа от исполнения настоящего
          Договора, а также, в случае отмены регистрации Пользователя на Сайте, все начисленные и неизрасходованные
          Бонусные средства аннулируются. Выдача Бонусов в денежном эквиваленте не производится.
        </li>
        <li>Пользователь имеет право запросить у Агента возврат денежных средств только в течение срока действия Купона,
          указанного в Условиях Акции, и только в следующих случаях:
        </li>
      </ol>
      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; если Исполнитель отказывается от предоставления товара или услуги
        по Купону;</p>

      <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; если Исполнитель изменил условия предоставления товара или услуги
        по сравнению с заявленными на Сайте Условиями Акции и Пользователь, в связи с этим, отказался от
        соответствующего товара или услуги.</p>

      <p>В случае, если Купон использован Пользователем и им получен товар или услуга, то все претензии по возврату
        денежных средств за такие Купоны должны адресоваться Исполнителю напрямую.</p>
      <ol>
        <li>Пользователь соглашается с тем, что для возврата денежных средств оплаченных за Купон Пользователь должен
          направить на имя Агента письменное заявление в свободной форме либо по адресу указанному в пункте 25 Договора,
          либо в электронном виде на электронную почту&nbsp;<a href="mailto:info@besmart.kg">info@besmart.kg</a>&nbsp; с
          вложением копии Купона в формате pdf. В тексте заявления необходимо указать основание для возврата денег и
          логин Личного кабинета Пользователя. Агент обязуется в течение 14 (четырнадцати) календарных дней рассмотреть
          заявление и, при наличии оснований, вернуть Пользователю денежные средства на Счет. Пользователь соглашается с
          тем, что денежные средства, в том числе кэш-бэки, полученные Пользователем в рамках проводимых Акций на Сайте,
          выводу со Счета на счета банковских карт и иные счета не подлежат и могут быть использованы только для покупок
          Купонов на Сайте.
        </li>
        <li>Порядок обмена информацией между Агентом и Пользователем определяется и доводится до сведения Пользователя
          на Сайте. Агент вправе в любой момент в одностороннем порядке изменять условия настоящего Договора, при этом
          новый Договор, изменения к Договору, прекращение Договора становятся действительными после их размещения на
          Сайте
        </li>
        <li>Агент вправе прекратить действие логина и пароля Пользователя, а также в одностороннем порядке отказаться от
          исполнения Договора без возмещения каких-либо убытков Пользователю в случае нарушения Пользователем условий
          Договора, а также в случае наличия подозрений у Агента в том, что Пользователем осуществлена множественная
          (ложная) регистрация на Сайте, а также в случае наличия у Агента обоснованных подозрений о совершении
          Пользователем мошеннических действий, в том числе с использованием банковских карт, электронных кошельков и
          любыми прочими способами.
        </li>
        <li>Пользователь дает свое согласие на обработку, в том числе автоматизированную, и использование Агентом
          персональных данных Пользователя (имя, фамилия, электронный адрес, телефон, пол, дата рождения, город
          подписки), включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение),
          использование, распространение (в том числе передачу), обезличивание, блокирование и уничтожение. Персональные
          данные Пользователя являются конфиденциальными и не подлежат разглашению или предоставлению любым третьим
          лицам, а также несанкционированному использованию. Не считается нарушением предоставление Агентом информации
          третьим лицам, действующим на основании договора с Агентом, для исполнения обязательств перед Пользователем, а
          также для улучшения сервиса Сайта, а также для осуществления рассылки в соответствии с пунктами 18 и 19
          Договора. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными
          требованиями применимого законодательства. Агент вправе использовать технологию «cookies». «Cookies» не
          содержат конфиденциальную информацию и не передаются третьим лицам. Агент получает информацию об ip-адресе
          посетителя Сайта. Данная информация не используется для установления личности Пользователя, за исключением
          случаев мошеннических действий Пользователя.
        </li>
        <li>Пользователь несет ответственность за достоверность передаваемых Агенту персональных данных. Пользователь
          несет ответственность за сохранение конфиденциальности своих регистрационных данных на Сайте (электронная
          почта и пароль), а также за все действия, осуществляемые с ними.
        </li>
        <li><span>Пользователь дает свое согласие на то, что после прохождения процедуры регистрации на Сайте, на электронный адрес Пользователя Агентом будут направляться письма информационного и рекламного характера. Если Пользователь желает отказаться от получения рассылки, он может это сделать кликнув по соответствующей ссылке в тексте полученного письма (при наличии такой ссылки) или в Личном кабинете в профиле убрав галочку с «получать рассылку на e-mail», либо сообщив об этом Агенту на электронный адрес&nbsp;</span><a
          href="mailto:info@besmart.kg">info@besmart.kg</a><span>.</span></li>
        <li>Указав номер телефона в личном профиле, Пользователь также автоматически соглашается получать смс-сообщения
          информационного характера. Если Пользователь желает отказаться от получения смс-сообщений, он должен будет
          сообщить об этом Агенту на электронный адрес <a href="mailto:info@besmart.kg">info@besmart.kg</a> или в Личном
          кабинете в профиле убрать галочку с «получать купоны через SMS».
        </li>
        <li>Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по
          Договору на время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и непреодолимые
          обстоятельства, препятствующие исполнению своих обязательств сторонами по настоящему Договору. К ним относятся
          стихийные явления; воздействие ядерного взрыва, радиации (ионизирующего излучения) или радиоактивного
          заражения материалами ядерного оружия, производственных и научно-исследовательских работ или радиоактивными
          отходами; войны, военные вторжения, враждебные действия иностранного врага, военные маневры и связанные с ними
          мероприятия военного характера; гражданская война, вооруженный мятеж, народные волнения всякого рода, массовые
          беспорядки, насильственный захват или насильственное удержание власти; эпидемии,&nbsp; метеоусловия,
          террористические действия, забастовки, изъятия, конфискации, национализация и т.п. При этом общеизвестные
          события не нуждаются в каком-либо подтверждении.
        </li>
        <li>Все споры и разногласия, вытекающие из правоотношений по настоящему Договору, разрешаются путем переговоров.
          В случае невозможности решения возникших споров в ходе переговоров, в течение 30 (тридцати) календарных дней,
          такие споры должны быть переданы на решение в суд Республики Кыргызстан, города Бишкек.
        </li>
        <li>Изображения и тексты, опубликованные на Сайте защищены авторскими правами. Любое использование материалов
          возможно только с письменного разрешения Агента.
        </li>
        <li>Настоящий Договор становится действительным после его размещения на Сайте. Данный Договор является
          действующим и заменяет все предыдущие.
        </li>
        <li><span style="text-decoration: underline;">Реквизиты Агента:</span></li>
      </ol>

      <hr/>

      <div class="checkbox">
        <label class="i-checks">
          <input type="checkbox" value="">
          <i></i>
          Я принимаю все соглашения
        </label>
      </div>
      <button class="btn btn-primary">Принять</button>

    </div>
  </div>
</div>
