<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'SERVICE_PAYMENT' | translate }}</h1>
</div>
<div class="wrapper-md">

    <div class="panel panel-default">
        <div class="panle-body wrapper-lg">
            <br>

            <form class="form-horizontal" ng-show="step==1">

                <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'WHENCE' | translate }}:</label>

                    <div class="col-md-6">
                        <select class="form-control" ng-model="accountId">
                            <option ng-repeat="account in accounts" value="{{account.id}}">
                                {{account.name}} -
                                {{account.number}} {{account.code}} ( {{account.saldo | number:2}})
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'SERVICE' | translate }}:</label>

                    <div class="col-md-6">
                        <p class="form-control-static">{{service.name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{service.props_name}}</label>

                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="{{service.keyboard =='numpad' ? 'number' : 'text'}}" class="form-control"
                                   ng-model="requisite" ui-mask="{{service.mask}}">
                        <span class="input-group-addon login-question"><a popover-placement="left"
                                                                          popover-trigger="focus"
                                                                          popover="{{ 'ENTERING_FORMAT' | translate }}: 123456789"><i
                                class="fa fa-question-circle"></i></a></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'SUM' | translate }}:</label>

                    <div class="col-sm-3">
                        <div class="input-group m-b">
                            <input type="number" class="form-control" ng-model="amount" step="0.01" min="0">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'PRESONAL_NOTE' | translate }}:</label>

                    <div class="col-md-6">
                        <input class="form-control" type="text" ng-model="description">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-green" ng-click="next()">
                            {{ 'NEXT' | translate }} <i class="fa fa-arrow-right fa-fw"></i>
                        </button>
                    </div>
                </div>


            </form>

            <form class="form-horizontal">
                <div class="panel-body">
                    <div ng-show="step==2">

                        <div class="alert alert-warning"><i class="fa fa-warning fa-fw"></i> {{ 'CHECK_INFO_ACCEPT_DATA' | translate }}
                        </div>
                        <div class="row">
                            <dl class="dl-horizontal details col-sm-8">
                                <div ng-repeat="d in datas">
                                    <dt>{{d.key}}:</dt>
                                    <dd>{{d.value}}</dd>
                                </div>
                            </dl>
                        </div>

                        <div class="form-group" ng-hide="otpHide">
                            <label class="col-sm-3 control-label">{{ 'SMS_CODE' | translate }}:</label>

                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-minlength="5" ng-model="otp">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="getOtp()" ng-disabled="isDisabled">
                            {{ 'AQUIRE' | translate }}
                        </button>
                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-6 col-sm-offset-3">
                                <!-- button class="btn btn-default" type="submit">
                                    <i class="fa fa-circle-o-notch fa-fw"></i> Создать автоплатеж
                                </button -->
                                <button class="btn btn-danger" type="submit" ng-click="setStep(1)">
                                    <i class="fa fa-arrow-left fa-fw"></i> {{ 'BACK' | translate }}
                                </button>
                                <button class="btn btn-green" type="submit" ng-disabled="isConfirmDisabled" ng-click="doConfirm()">
                                    {{ 'CONFIRM' | translate }} <i class="fa fa-arrow-right fa-fw"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div ng-show="step==3">
                        <div class="alert alert-warning"><i class="fa fa-warning fa-fw"></i>
                            {{ 'REFRESH_DATA_MSG' | translate }}
                        </div>
                        <dl class="dl-horizontal details col-sm-8">
                            <div ng-repeat="d in datas">
                                <dt>{{d.key}}:</dt>
                                <dd>{{d.value}}</dd>
                            </div>
                        </dl>
                        <div class="form-group">

                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-default" type="submit" ng-click="checkPayment()">
                                    <i class="fa fa-history fa-fw"></i> {{ 'dREFRESH' | translate }}
                                </button>
                                <a ui-sref="app.dashboard" class="btn btn-default">
                                    <i class="fa fa-home fa-fw"></i> {{ 'BACK_TO_HOME' | translate }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </form>
        </div>
    </div>

</div>
