<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'TARIFS_AND_LIMITS' | translate }}</h1>
</div>

<div class="wrapper-md">
    <accordion close-others="oneAtATime">
        <accordion-group heading="{{ 'TARIFS_AND_LIMITS' | translate }}">
            <label class="list-group-item control-label"> Платеж по системе "Клиринг" - 15 сом. </label>
            <label class="list-group-item control-label"> Платеж по системе ГРОСС - 90 сом. </label>
        </accordion-group>
        <accordion-group heading="Оплата услуг">
            <accordion-group heading="Жилищно-коммунальное хозяйство">


            </accordion-group>
        </accordion-group>
    </accordion>
</div>