<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'SERVICE_PAYMENT' | translate }}</h1>
</div>

<div class="wrapper-md">

    <div class="row">

        <div class="col-xsm-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="s in services">

            <div class="panel wrapper">
                <a ng-click="makeFavorite(s)" ui-toggle-class="button" class="btn btn-default btn-xs"
                   ng-class="{active: s.favorite}">
                    <i class="fa fa-star-o text-muted text"></i>
                    <i class="fa fa-star text-danger text-active"></i>
                </a>

                <a ui-sref="app.payment({serviceId:s.id})" class="service-item">
                    <!--<img ng-src="images/services/{{s.image}}" alt="">-->
                    <img image="images/services/{{s.image}}" image-loading="/images/loading.gif" image-holder="/images/services/no_image.png" />
                    <h4 class="font-thin m-t-none m-b text-muted">{{s.name}}</h4>
                </a>
            </div>

        </div>
    </div>
</div>
