<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'SETTINGS' | translate }}</h1>
</div>

<div class="wrapper-md">
    <div class="tab-container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a ui-sref=".smart" data-toggle="tab">{{ 'CHANGE_PASS' | translate }}</a></li>

        </ul>
        <div class="tab-content">
            <div ui-view></div>
        </div>
    </div>


</div>




