<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">


    <a href class="navbar-brand block m-t" style="color: transparent">{{app.name}}</a>
    <br><br>
    <div class="m-b-lg">
        <p class="text-center"><img src="images/logo_ru.png" alt="BTA logo"></p>

        <div ng-controller="deviceCheck as deviceInfo" ng-show="outDated">
            <br>
            <!-- Вывод всей информации о клиенте-->

            <!--<p>Браузер : <b>{{deviceInfo.data.browser}}</b></p>-->
            <!--<p>Версия браузера : <b>{{deviceInfo.data.browser_version}}</b></p>-->
            <!--<p>Операционная система : <b>{{deviceInfo.data.os_version}}</b></p>-->
            <!--<p>Оборудование: <b>{{deviceInfo.data.device}}</b></p>-->
            <!--<pre>{{deviceInfo.allData}}<pre>-->

            <div class="alert alert-info out-dated" role="alert">
                <i class="fa fa-warning fa-3x fa-pull-left" aria-hidden="true"></i>
               <div class="l-divider">
                    Вы используете старую версию браузера <span>{{deviceInfo.data.browser}}({{deviceInfo.data.browser_version}})</span>. Пожалуйста обновите браузер до последней версии для лучшей работоспособности приложения.
               </div>
            </div>
            <div class="alert alert-info out-dated" role="alert">
                <i class="fa fa-warning fa-3x fa-pull-left" aria-hidden="true"></i>
               <div class="l-divider">
                    Вы используете старую версию браузера <span>{{deviceInfo.data.browser}}({{deviceInfo.data.browser_version}})</span>. Пожалуйста обновите браузер до последней версии для лучшей работоспособности приложения.
               </div>
            </div>
            <div class="alert alert-info out-dated" role="alert">
                <i class="fa fa-warning fa-3x fa-pull-left" aria-hidden="true"></i>
               <div class="l-divider">
                    Вы используете старую версию браузера <span>{{deviceInfo.data.browser}}({{deviceInfo.data.browser_version}})</span>. Пожалуйста обновите браузер до последней версии для лучшей работоспособности приложения.
               </div>
            </div>
        </div>

        <div class="wrapper text-center" ng-show="isLogin">
            <strong>{{ 'SIGNIN_MSG' | translate }}</strong>
        </div>

        <form name="signForm" class="form-validation" ng-show="isLogin">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <div class="input-group">
                        <input type="text" class="form-control no-border" required ng-model="credentials.username"
                               placeholder="{{ 'USERNAME' | translate }}">
                        <span class="input-group-addon login-question">
                            <a popover-placement="right" popover-trigger="mouseenter"
                               popover="{{ 'USERNAME_POPUP' | translate }}">
                                <i class="fa fa-question"></i>
                            </a>
                        </span>
                    </div>

                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="{{ 'PASSWORD' | translate }}"
                           class="form-control no-border"
                           ng-model="credentials.password" required>
                </div>
                <div class="list-group-item">
                    <select class="form-control no-border lang_sel ru" ng-model="lang" onchange="changelanguage(this);">
                        <option value="kg" class="kg">{{ 'LANG_KG' | translate }}</option>
                        <option value="ru" class="ru">{{ 'LANG_RU' | translate }}</option>
                        <option value="en" class="en">{{ 'LANG_EN' | translate }}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-green btn-block" ng-click="login()"
                    ng-disabled='signForm.$invalid'><span translate="{{ 'NEXT' | translate }}"></span>
                </button>
                <br>
                <p class="text-center">
                    <a href="#" class="btn btn-link"><i class="fa fa-lock fa-fw"></i>{{ 'FORGOT_PASSWORD' | translate }}</a>
                </p>
            </div>
            <div class="list-group list-group">
                <div class="alert alert-info">
                    <p class="text-center"><i class="fa fa-warning fa-fw fa-2x"></i> <br> <b>{{ 'BTA_SYSTEM_MSG' | translate }}</b></p>
                    <br>
                    <label class="list-group-item control-label">{{ 'BTA_SYSTEM_MSG1' | translate }}</label>
                    <label class="list-group-item control-label">{{ 'BTA_SYSTEM_MSG2' | translate }}</label>
                    <label class="list-group-item control-label">{{ 'BTA_SYSTEM_MSG3' | translate }}</label>
                    <label class="list-group-item control-label">{{ 'BTA_SYSTEM_MSG4' | translate }}</label>
                </div>
            </div>
        </form>
        <hr/>

        <form name="form" class="form-validation" ng-show="isNew">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="password" placeholder="{{ 'OLD_PASS' | translate }}"
                           class="form-control no-border"
                           ng-model="psw.old"
                           required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="{{ 'NEW_PASS' | translate }}"
                           class="form-control no-border"
                           ng-model="psw.new1"
                           required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="{{ 'REENTER_PASS' | translate }}"
                           class="form-control no-border"
                           ng-model="psw.new2"
                           required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-green btn-block" ng-click="changePsw()"
                    ng-disabled='form.$invalid'>{{ 'CHANGE_PASS' | translate }}
            </button>

        </form>


        <form name="formotp" class="form-validation" ng-show="isOtp">
            <div class="wrapper text-center">
                <strong>{{ 'ONETIME_PASS' | translate }}</strong>
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <div class="input-group">
                        <input type="text" placeholder="{{ 'ENTER_CODE' | translate }}"
                               class="form-control no-border" ng-minlength="5"
                               ng-model="otp"
                               required>
                        <span class="input-group-addon login-question">
                            <a popover-placement="right" popover-trigger="mouseenter"
                               popover="{{ 'ENTER_CODE_DESCRIPTION' | translate }}">
                                <i class="fa fa-question"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-lg btn-green btn-block" ng-click="verify_otp()"
                    ng-disabled='formotp.$invalid'><span translate="{{ 'NEXT' | translate }}"></span>
            </button>
            <br>
            <p class="text-center">
                <a ng-click="ask()" class="btn btn-link"><i class="fa fa-key fa-fw "></i> {{ 'GET_NEW_ONETIME_PASS' | translate }}</a>
            </p>
            <div class="list-group list-group">
                <div class="alert alert-info">
                    <p class="text-center"><i class="fa fa-warning fa-fw fa-2x"></i> <br> <b>{{ 'GET_NEW_ONETIME_PASS_MSG' | translate }}</b></p>
                    <br>
                    <label class="list-group-item control-label"> {{ 'GET_NEW_ONETIME_PASS_MSG1' | translate }}</label>
                    <label class="list-group-item control-label"> {{ 'GET_NEW_ONETIME_PASS_MSG2' | translate }}</label>
                    <label class="list-group-item control-label"> {{ 'GET_NEW_ONETIME_PASS_MSG3' | translate }}</label>
                </div>
            </div>
        </form>

    </div>
    <div class="text-center">
        {{ 'TECH_SUPPORT' | translate }}
    </div>
    <div class="text-center">
        {{ 'COPYRIGHT' | translate }}
    </div>
</div>
