<form class="form-horizontal" novalidate>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">Со счета:</label>

            <div class="col-sm-6">
                <select class="form-control">
                    <option>Все счета</option>
                    <option>Зарплатный - 50817 810 0 4800 0104467 (94 663.00 KGS)</option>
                    <option>48817 810 0 4800 0104568: 536.00 USD</option>
                    <option>32817 810 0 4800 0104789: 1 200.00 EUR</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Дата:</label>

            <div class="col-sm-5">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="form-control" name="start" placeholder="12.05.2015">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label class="col-sm-3 control-label">Счёт получателя:</label>

            <div class="col-sm-6">
                <div class="input-daterange input-group">
                    <input type="text" class="form-control" placeholder="Номер счёта или IBAN">
                    <span class="input-group-addon"><a href=""> <i class="fa fa-question"></i></a></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Имя получателя:</label>

            <div class="col-sm-6">
                <div class="input-daterange input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon"><a href=""> <i class="fa fa-question"></i></a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Адрес получателя:</label>

            <div class="col-sm-6">
                <div class="input-daterange input-group">
                    <input type="text" class="form-control" placeholder="Город, улица, дом">
                    <span class="input-group-addon"><a href=""> <i class="fa fa-question"></i></a></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Банк получателя:</label>

            <div class="col-sm-6">
                <div class="input-daterange input-group">
                    <input type="text" class="form-control" placeholder="BIC/SWIFT-код или название банка">
                    <span class="input-group-addon"><a href=""> <i class="fa fa-question"></i></a></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Сумма:</label>

            <div class="col-sm-3">
                <div class="input-group m-b">
                    <input type="text" class="form-control" ng-model="amount" ui-mask="99999.99">
                    <span class="input-group-addon">{{account.code}}</span>
                    <span class="input-group-addon login-question">
                        <a popover-placement="left" popover-trigger="mouseenter" popover="{{ 'SUM_POP_MSG' | translate }}">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Назначение платежа:</label>

            <div class="col-sm-6">
                <textarea class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Комментарий:</label>

            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">

            <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-green" type="submit">
                    Далее <i class="fa fa-arrow-right fa-fw"></i>
                </button>

            </div>
        </div>

    </div>

</form>