<!-- Smart transfer-->

<div ng-show="step ==1">
    <form class="form-horizontal" novalidate>
        <div class="panel-body">
            <div class="form-group">
               <accordion close-others="oneAtATime">
                   <accordion-group heading="{{ 'DESCRIPTION' | translate }}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                       {{ 'SEND_DESCRIPTION_MSG' | translate }}
                   </accordion-group>
               </accordion>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'FROM_ACCOUNT' | translate }}:</label>

                <div class="col-sm-6">
                    <select class="form-control" ng-model="accountId">
                        <option ng-repeat="account in accounts" value="{{account.id}}">
                            {{account.name}} -
                            {{account.number}} {{account.code}} ( {{account.saldo | number:2}})
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'RECIPIENT' | translate }}:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="rec_name"
                           placeholder="{{ 'RECIPIENT_FULL_NAME' | translate }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'RECIPIENT_ACCOUNT' | translate }}:</label>
                <div class="col-sm-5">
                     <input type="text" class="form-control" ng-model="rec_account"
                            placeholder="{{ 'RECIPIENT_ACCOUNT' | translate }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'SUM' | translate }}:</label>

                <div class="col-sm-4">
                    <div class="input-group m-b">
                        <input type="text" class="form-control" ng-model="amount" ui-number-mask="2" step="0.01" placeholder="0.00">
                        <span class="input-group-addon">{{account.code}}</span>
                        <span class="input-group-addon login-question">
                            <a popover-placement="left" popover-trigger="mouseenter" popover="{{ 'SUM_POP_MSG' | translate }}">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PRESONAL_NOTE' | translate }}:</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="description">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-green" type="submit" ng-click="next()">
                        {{ 'NEXT' | translate }} <i class="fa fa-arrow-right fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<form class="form-horizontal" novalidate>
    <div class="panel-body">
        <div ng-show="step == 2">
            <div class="alert alert-warning">
                <i class="fa fa-warning fa-fw"></i> {{ 'CHECK_TRANSFER_DETAILS' | translate }}
            </div>
            <div class="row">
                <dl class="dl-horizontal details col-sm-8">
                    <div ng-repeat="d in datas">
                        <dt>{{d.key}}:</dt>
                        <dd>{{d.value}}</dd>
                    </div>
                </dl>
            </div>
            <div class="form-group" ng-hide="otpHide">
                <label class="col-sm-3 control-label">{{ 'SMS_CODE' | translate }}:</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-minlength="5" ng-model="otp">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="getOtp()" ng-disabled="isDisabled">
                            {{ 'AQUIRE' | translate }}
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-danger" type="submit" ng-click="setStep(1)">
                        <i class="fa fa-arrow-left fa-fw"></i> {{ 'BACK' | translate }}
                    </button>
                    <button class="btn btn-green" type="submit" ng-disabled="isConfirmDisabled" ng-click="doConfirm()">
                        {{ 'CONFIRM' | translate }} <i class="fa fa-arrow-right fa-fw"></i>
                    </button>
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-circle-o-notch fa-fw"></i> {{ 'CREATE_AUTO_PAYMENT' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div ng-show="step==3">
            <div class="alert alert-warning"><i class="fa fa-warning fa-fw"></i>
                {{ 'REFRESH_DATA_MSG' | translate }}
            </div>
            <div>
                <dl class="dl-horizontal details col-sm-8">
                    <div ng-repeat="d in datas">
                        <dt>{{d.key}}:</dt>
                        <dd>{{d.value}}</dd>
                    </div>
                </dl>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-default" type="submit" ng-click="checkPayment()">
                        <i class="fa fa-history fa-fw"></i> {{ 'REFRESH' | translate }}
                    </button>
                    <a ui-sref="app.dashboard" class="btn btn-default">
                        <i class="fa fa-home fa-fw"></i> {{ 'BACK_TO_HOME' | translate }}
                    </a>
                </div>
            </div>
        </div>
        <hr>

    </div>

</form>
