<!-- Smart transfer-->

<div ng-show="step ==1">
    <form class="form-horizontal" novalidate>
        <div class="panel-body">
            <div class="form-group">
               <accordion close-others="oneAtATime">
                   <accordion-group heading="{{ 'DESCRIPTION' | translate }}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                       {{ 'SMART_DESCRIPTION_MSG' | translate }}
                   </accordion-group>
               </accordion>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PAYMENT_TYPE' | translate }}:</label>

                <div class="col-sm-6">
                    <select class="form-control" ng-model="typeCode">
                        <option ng-repeat="t in types" value="{{t.code}}">{{t.name}} {{t.totime}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'FROM_ACCOUNT' | translate }}:</label>

                <div class="col-sm-6">
                    <select class="form-control" ng-model="accountId">
                        <option ng-repeat="account in accounts" value="{{account.id}}">
                            {{account.name}} -
                            {{account.number}} {{account.code}} ( {{account.saldo | number:2}})
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'DATE' | translate }}:</label>

                <div class="col-sm-4">
                    <cbs-date ng-model="doc_date"></cbs-date>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'DOC_NUM' | translate }}:</label>

                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="doc_number">
                    <span class="input-group-addon login-question"><a popover-placement="right"
                                                                      popover-trigger="mouseenter"
                                                                      popover="{{ 'DOC_NUM_MSG' | translate }}"><i
                            class="fa fa-question-circle"></i></a></span></div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'RECIPIENT' | translate }}:</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="rec_name"
                           placeholder="{{ 'RECIPIENT_PLCHLDR' | translate }}">
                </div>
            </div>

            <div class="form-group" ng-hide="typeCode == 'INTERNAL'">
                <label class="col-sm-3 control-label">{{ 'RECIPIENT_BANK' | translate }}:</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="БИК:123456" ng-model="bank"
                           typeahead="bank as bank.bic + ' : ' +bank.name for bank in getBanks($viewValue)"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'RECIPIENT_ACCOUNT' | translate }}:</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="rec_account">
                    <!-- div class="input-group">
                        <input type="text" class="form-control" ng-model="rec_account">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-init="isCollapsedINN = true"
                                            ng-click="isCollapsedINN = !isCollapsedINN" tabindex="0">ИНН
                                        <span class="caret"></span>
                                    </button>
                                  </span>
                    </div -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'RECIPIENT_INN' | translate }}:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="rec_inn">
                </div>
            </div>
            <!-- div collapse="isCollapsedINN">
                <div class="form-group">
                    <label class="col-sm-3 control-label">ИНН:</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="rec_inn">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">ОКПО:</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="rec_okpo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Рег. № СФ:</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="rec_cf">
                    </div>
                </div>
            </div -->

            <div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'PAYMENT_PURPOSE_CODE' | translate }}:</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="{{ 'PAYMENT_PURPOSE_CODE_MSG' | translate }}"
                               ng-model="ppc"
                               typeahead="ppc as ppc.code + ' : ' +ppc.name for ppc in getPpc($viewValue)"
                               ng-disabled="!account"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'PAYMENT_PURPOSE' | translate }}:</label>

                    <div class="col-sm-6">
                        <textarea class="form-control" ng-model="purpose"></textarea>
                    </div>
                </div>
            </div>



            <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">Код назначения платежа:</label>-->

            <!--<div class="col-sm-6">-->
            <!--<select class="form-control" ng-model="knp1">-->
            <!--<option ng-repeat="knp in knps1" value="{{knp.id}}">-->
            <!--{{knp.code}} - {{knp.name}}-->
            <!--</option>-->
            <!--</select>-->
            <!--<br>-->
            <!--<select class="form-control" ng-model="knp2">-->
            <!--<option ng-repeat="knp in knps2" value="{{knp.id}}">-->
            <!--{{knp.code}} - {{knp.name}}-->
            <!--</option>-->
            <!--</select>-->
            <!--<br>-->
            <!--<select class="form-control" ng-model="knp3">-->
            <!--<option ng-repeat="knp in knps3" value="{{knp.id}}">-->
            <!--{{knp.code}} - {{knp.name}}-->
            <!--</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'SUM' | translate }}:</label>

                <div class="col-sm-4">
                    <div class="input-group m-b">
                        <input type="text" class="form-control" ng-model="amount" ui-number-mask="2" step="0.01" placeholder="0.00">
                        <span class="input-group-addon">{{account.code}}</span>
                        <span class="input-group-addon login-question">
                            <a popover-placement="left" popover-trigger="mouseenter" popover="{{ 'SUM_POP_MSG' | translate }}">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PRESONAL_NOTE' | translate }}:</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="description">
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-green" type="submit" ng-click="next()">
                        {{ 'NEXT' | translate }} <i class="fa fa-arrow-right fa-fw"></i>
                    </button>

                </div>
            </div>

        </div>

    </form>
</div>

<form class="form-horizontal" novalidate>
    <div class="panel-body">

        <div ng-show="step == 2">
            <div class="alert alert-warning">
                <i class="fa fa-warning fa-fw"></i> {{ 'CHECK_TRANSFER_DETAILS' | translate }}
            </div>
            <div class="row">
                <dl class="dl-horizontal details col-sm-8">
                    <div ng-repeat="d in datas">
                        <dt>{{d.key}}:</dt>
                        <dd>{{d.value}}</dd>
                    </div>
                </dl>
            </div>

            <div class="form-group" ng-hide="otpHide">
                <label class="col-sm-3 control-label">{{ 'SMS_CODE' | translate }}:</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-minlength="5" ng-model="otp">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="getOtp()" ng-disabled="isDisabled">
                            {{ 'AQUIRE' | translate }}
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-danger" type="submit" ng-click="setStep(1)">
                        <i class="fa fa-arrow-left fa-fw"></i> {{ 'BACK' | translate }}
                    </button>
                    <button class="btn btn-green" type="submit" ng-disabled="isConfirmDisabled" ng-click="doConfirm()">
                        {{ 'CONFIRM' | translate }} <i class="fa fa-arrow-right fa-fw"></i>
                    </button>
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-circle-o-notch fa-fw"></i> {{ 'CREATE_AUTO_PAYMENT' | translate }}
                    </button>

                </div>
            </div>
        </div>
        <div ng-show="step==3">
            <div class="alert alert-warning"><i class="fa fa-warning fa-fw"></i>
                {{ 'REFRESH_DATA_MSG' | translate }}
            </div>
            <div>
                <dl class="dl-horizontal details col-sm-8">
                    <div ng-repeat="d in datas">
                        <dt>{{d.key}}:</dt>
                        <dd>{{d.value}}</dd>
                    </div>
                </dl>
            </div>
            <div class="form-group">

                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-default" type="submit" ng-click="checkPayment()">
                        <i class="fa fa-history fa-fw"></i> {{ 'REFRESH' | translate }}
                    </button>
                    <a ui-sref="app.dashboard" class="btn btn-default">
                        <i class="fa fa-home fa-fw"></i> {{ 'BACK_TO_HOME' | translate }}
                    </a>
                </div>
            </div>
        </div>
        <hr>

    </div>

</form>
