<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'ACCOUNT_STATEMENT' | translate }}</h1>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <form class="form-horizontal" novalidate>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'FROM_ACCOUNT' | translate }}:</label>

                    <div class="col-sm-6">
                        <select class="form-control" ng-model="accountId">
                            <option ng-repeat="account in accounts" value="{{account.id}}">
                                {{account.name}} -
                                {{account.number}} {{account.code}} ( {{account.saldo | cbsNumber}})
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'PERIOD' | translate }}:</label>

                    <div class="col-sm-6">
                        <div class="input-daterange input-group" id="datepicker">
                            <cbs-date ng-model="datbeg"></cbs-date>
                            <cbs-date ng-model="datend"></cbs-date>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'SEARCH' | translate }}:</label>

                    <div class="col-sm-6">
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-green" type="submit" ng-click="getTransactions()"><i
                                class="fa fa-download fa-fw"></i> {{ 'AQUIRE' | translate }}
                        </button>
                    </div>
                </div>

            </div>

        </form>

    </div>

    <div class="panel panel-default" ng-show="transactions.length > 0">
        <div class="panel-heading">
            {{ 'FROM_ACCOUNT' | translate }}: {{account.number}} {{account.code}}
        </div>

        <!--Panel body-->
        <div class="panel-body">
            <div class="form-inline">
                <div class="row">
                    <div class="col-sm-6">
                        <!--<button class="btn btn-primary" title="Распечатать"><i class="fa fa-print"></i></button>-->
                        <!--<button class="btn btn-success" title="Сохранить в Excel"><i class="fa fa-file-excel-o"></i>-->
                        <!--</button>-->
                        <!--<button class="btn btn-danger" title="Созранить в PDF"><i class="fa fa-file-pdf-o"></i></button>-->

                    </div>
                    <div class="col-sm-6 ">
                        <strong class="pull-right">
                            {{ 'INCOMING_BALANCE' | translate }} {{incoming.date | cbsDate}} = {{incoming.balance | cbsNumber}}
                        </strong>
                    </div>
                </div>
            </div>
            <br>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>{{ 'DATE' | translate }}</th>
                        <th>{{ 'CORRESPONDENT' | translate }}</th>
                        <th>{{ 'PURPOSE' | translate }}</th>
                        <th>{{ 'SUM' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tran in transactions">
                        <td>{{tran.date | cbsDate}}</td>
                        <td><span class="text-semibold">{{tran.correspondent}}</span>
                            <br>
                            <small class="text-muted">{{tran.corraccount}}</small>
                        </td>
                        <td>{{tran.purpose}}</td>
                        <!--<td>{{tran.balance | cbsNumber}} {{account.code}}</td>-->
                        <td><span class="pull-right">{{tran.balance | cbsNumber}}</span></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <strong class="pull-right">{{ 'OUTGOING_BALANCE' | translate }}
                        {{outgoing.date | cbsDate}} = {{outgoing.balance | cbsNumber}}
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="transactions.length == 0">
        <h4>{{ 'NO_DATA' | translate }}</h4>
    </div>

</div>