<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h4">{{ 'TRANSFER' | translate }}</h1>
</div>

<div class="wrapper-md">
    <div class="tab-container">
        <ul class="nav nav-tabs" role="tablist">
            <li ng-class="{active: isActive('.smart')}">
                <a ng-click="goUrl('.smart')" data-toggle="tab">{{ 'BANK_TRANSFER' | translate }}</a>
            </li>
            <li ng-class="{active: isActive('.send')}">
                <a ng-click="goUrl('.send')" data-toggle="tab" aria-expanded="false">{{ 'PRIVATE_ENTITY_TRANSFER' | translate }}</a>
            </li>
            <li ng-class="{active: isActive('.myself')}">
                <a ng-click="goUrl('.myself')" data-toggle="tab" aria-expanded="false">{{ 'OWN_TRANSFER' | translate }}</a>
            </li>
            <!--<li ng-class="{active: isActive('.international')}">-->
            <!--    <a ng-click="goUrl('.international')" data-toggle="tab" aria-expanded="false">Международный</a>-->
            <!--</li>-->
            <!-- li ng-class="{active: isActive('.transit')}">
                <a ng-click="goUrl('.transit')" data-toggle="tab" aria-expanded="false">Транзит</a>
            </li -->
            <li ng-class="{active: isActive('.tocard')}">
                <a ng-click="goUrl('.tocard')" data-toggle="tab" aria-expanded="false">{{ 'ONCARD_TRANSFER' | translate }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div ui-view></div>
        </div>
    </div>
</div>




